@media screen and (min-width: 768px) and (max-width: 1023px) {
    .places__text {
        margin-right: 24px;
    }
}

@media screen and (min-width: 768px) {
    .places__text {
        margin-top: 48px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .places__text {
        margin-right: 48px;
    }
}

@media screen and (min-width: 1280px) {
    .places__text {
        margin-right: 148px;
        margin-left: 40px;
    }
}


