.footer__copyright {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
    margin: 16px auto 24px 16px;
}

@media screen and (min-width: 768px)  {
    .footer__copyright {
        margin: 2px 24px auto auto;
    }
}