.lead__image {
    width: 100%;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .lead__image {
        width: 928px;
        height: 580px;
        display: block;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1280px) {
    .lead__image {
        width: 984px;
        height: 615px;
        display: block;
        margin: 0 auto;
    }
}